<p>
  You are logged in as {{email}}
</p>
<h3><a href="/logout">LOGOUT</a></h3>
<h3><a href="/">HOME</a></h3>

<a href="/users/new">+ Add A Student to This Account</a>

{{errors}}
{{#each users}}
<div class="delete">
  <form class="" action=":id/delete" method="post">

  </form>
</div>
  <div class="user">
    <a href="/users/{{_id}}">{{firstName}} {{lastName}}</a>
    {{school}} {{grade}}
    <p>
      image
    </p>
  </div>
{{/each}}
