<a href="/register/student"><h3>Enable {{firstName}} to Update Own Account</h3> </a>

<a href="/users/{{_id}}/calendar"><h3>Add Trips for {{firstName}}</h3></a>


{{firstName}} {{lastName}}
{{school}}
<p>
  image here
</p>
<p>
  interactive chart here
</p>
